@{
    ViewBag.Title = "Admin Panel";
}

<div class="container mt-4">
    <h2>Admin Panel</h2>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link inner-tab" data-tab="Country" href="#">Country</a>
        </li>
        <li class="nav-item">
            <a class="nav-link inner-tab" data-tab="State" href="#">State</a>
        </li>
        <li class="nav-item">
            <a class="nav-link inner-tab" data-tab="City" href="#">City</a>
        </li>
        <li class="nav-item">
            <a class="nav-link inner-tab" data-tab="Store" href="#">Store</a>
        </li>
        <li class="nav-item">
            <a class="nav-link inner-tab" data-tab="User" href="#">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link inner-tab" data-tab="Permission" href="#">Permission</a>
        </li>
      
    </ul>
    @if (TempData["Message"] != null || TempData["Error"] != null)
    {
        var alertClass = TempData["Message"] != null ? "alert-success" : "alert-danger";
        var message = TempData["Message"] ?? TempData["Error"];

        <div id="tempMessage" class="alert @alertClass alert-dismissible fade show text-center mt-2" role="alert">
            @message
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }



   

    <div class="row mt-3">
        <div class="col-md-5" id="formArea">
            <!-- Form will be loaded here -->
        </div>
        <div class="col-md-7" id="listArea">
            <!-- List will be loaded here -->
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/Country.js"></script>
    <script src="~/js/State.js"></script>
    <script src="~/js/City.js"></script>
    <script src="~/js/Store.js"></script>
    <script src="~/js/User.js"></script>


    <script>
            function loadTabContent(tab) {
            $.get(`/admin/loadform/${tab}`, data => $('#formArea').html(data));
            if (tab !== 'Permission') {
                $.get(`/admin/loadlist/${tab}`, data => $('#listArea').html(data));
            } else {
                $('#listArea').empty();
            }
        }



        $(document).on('click', '.nav-link.inner-tab', function (e) {
            e.preventDefault();
            $('.nav-link.inner-tab').removeClass('active');
            $(this).addClass('active');

            const tab = $(this).data('tab');
            localStorage.setItem('lastTab', tab);
            loadTabContent(tab);
        });

        $(document).ready(() => {
            const validTabs = ['Country', 'State', 'City', 'Store', 'User', 'Permission'];
            let lastTab = '@TempData["ResetTab"]' || localStorage.getItem('lastTab') || 'Country';
            if (!validTabs.includes(lastTab)) lastTab = 'Country';

            $(`.nav-link.inner-tab[data-tab="${lastTab}"]`).addClass('active');
            loadTabContent(lastTab);
        });

        setTimeout(() => $('#tempMessage').fadeOut('slow'), 3000);
                  

        // ---------- PERMISSION -------
        $(document).on('change', '#SelectedUserId', function () {
            const userId = $(this).val();
            if (!userId) { $('#permissionFormContainer,#formArea').empty(); return; }

            $.get('/Permission/Manage', { userId }, html => {
                $('#formArea, #permissionFormContainer').html(html);
            }).fail(xhr => alert('Error loading permissions: ' + xhr.responseText));
        });


              setTimeout(function () {
            const msg = document.getElementById("tempMessage");
            if (msg) {
                msg.style.transition = "opacity 0.5s ease";
                msg.style.opacity = "0";
                setTimeout(() => msg.remove(), 500);
            }
        }, 3000);

    </script>

}



